# Time series

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [5]:
now

datetime.datetime(2021, 5, 29, 22, 24, 24, 678591)

In [6]:
delta = datetime(2011, 1, 7) - now

In [7]:
delta

datetime.timedelta(days=-3796, seconds=5735, microseconds=321409)

In [8]:
stamp = datetime(2011, 1, 3)

In [9]:
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [11]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

Type Description
%Y 4-digit year
%y 2-digit year
%m 2-digit month [01, 12]
%d 2-digit day [01, 31]
%H Hour (24-hour clock) [00, 23]
%I Hour (12-hour clock) [01, 12]
%M 2-digit minute [00, 59]
%S Second [00, 61] (seconds 60, 61 account for leap seconds)
%w Weekday as integer [0 (Sunday), 6]

In [19]:
import pandas as pd
from datetime import datetime
import numpy as np

In [20]:
longer_ts = pd.Series(np.random.randn(1000),
                   index = pd.date_range('1/1/2000', periods=1000))

In [21]:
longer_ts

2000-01-01   -0.290264
2000-01-02    0.310278
2000-01-03   -1.417682
2000-01-04    0.772261
2000-01-05   -1.196852
                ...
2002-09-22    0.084638
2002-09-23   -0.952322
2002-09-24    0.383711
2002-09-25    1.259415
2002-09-26    0.272072
Freq: D, Length: 1000, dtype: float64

In [22]:
longer_ts['2001']

2001-01-01    2.490926
2001-01-02   -2.242649
2001-01-03    0.471572
2001-01-04    0.071502
2001-01-05   -0.442745
                ...
2001-12-27   -1.414499
2001-12-28    0.121399
2001-12-29   -0.097123
2001-12-30    1.359851
2001-12-31   -1.005135
Freq: D, Length: 365, dtype: float64

In [23]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
             '1/3/2000'])

In [25]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [26]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [27]:
dup_ts.index.is_unique

False

In [28]:
grouped = dup_ts.groupby(level=0)

In [30]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [31]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64